{% include 'sitio/cabecera.html' %}
<form >
<div class="container">
    <div class="row">
        <div class="col-3">
            First Column
        </div>
        <div class="col-xxl-5">
            Second Column
            <div class="mb-3">
                <label for="" class="form-label">User</label>
                <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Usuario">
                <small id="emailHelpId" class="form-text text-muted">logueate gorriao</small>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Contronga</label>
                <input type="password" class="form-control" name="" id="" placeholder="Password">
              </div>
            
              <button type="submit" class="btn btn-primary">Envianga</button>
            </form> 
        </div>
        <div class="col-2">
            First Column
        </div>
    </div>
</div>



{% include 'sitio/pie.html' %}